/* GLOBAL */

* {
	transition: 0.2s ease all;
}

body {
    font-family: 'Nunito', serif !important;
	margin:0;
	padding: 0;
	background-color: #292C3D;
    color: #EAEDEE;
}

p {
	margin: 0;
	padding: 0;
}

.section {
	font-size: 26px;
	font-weight: 200;
	margin-top: 30px;
	margin-left: 40px;
	border-bottom: 1px solid #adadad;
	display: inline-block;
	padding-right: 4px;
	color: #adadad;
}

::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
}

.help {
    font-size: 11px;
    color: red;
    font-weight: 200;
    margin-top: 1px;
    position: absolute;
}

.header {
	display: inline-block;
	font-size: 30px;
	font-weight: 400;
	line-height: 90px;
    color: white;
    margin-left: 20px;
}

.header-very-small {
	font-size: 20px;
	font-weight: 200;
	padding-left: 6px;
	margin-bottom: 7px;
	border-bottom: 1px solid white;
	width: 180px;
}

.header-small {
	display: inline-block;
	font-size: 25px;
	font-weight: 400;
	line-height: 45px;
	padding-right: 5px;
    padding-left: 0px;
	margin: 10px;
    color: white;
}

.container {
	height: 400px;
	margin: 30px 30px;
	padding: 10px 10px;
}

.container-child {
    background-color: #3B3C4E;
    border-radius: 5px;
	height: 100%;
	//box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.17);
    display: inline-block;
    padding: 10px;
    padding-top: 3px;
}

.form-submit {
    background-color: #7354ff;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    float: right;
    margin-right: 4%;
    margin-top: 5px;
    cursor: pointer;
}

.link-small {
    background-color: #7354ff;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    float: right;
    margin-right: 2%;
    margin-top: 10px;
    cursor: pointer;
}

//nav

.top {
    background-color: #1B1E2F;
    height: 90px;
}

.image {
    border-radius: 7px;
    display: inline-block;
    float: left;
    margin-top: 15px;
    margin-left: 40px;
}

.top-left {
    float: left;
    display: inline-block;
    width: 50%;
}

.title {
    display: inline-block;
    float: left;
}

.links-container {
    display: inline-block;
}

.dropdown {
    display: inline-block;
    float: right;
}

.link {
    text-decoration: none;
    line-height: 90px;
    margin-left: 30px;
    color: white;
}

.sign-out {
    margin-right: 40px;
    font-weight: 600;
    cursor: pointer;
}

//lift

.lift-graph {
	float: left;
	width: 55%
}

.new-lift {
	float: right;
	width: 40%;
}

.lift-prompt {
    color: white;
    font-weight: 200;
}

.lift-field {
    padding: 10px;
    padding-top: 0px;
    margin: auto;
}

.lift-input {
    border: none;
	font-size: 12px;
	padding: 6px 1.5%;
	font-weight: 200;
	text-align: left;
	width: 97%;
	border-bottom: 1px solid #D8D3D1;
    background-color: #3B3C4E;
    color: white;
}

.lift-chart-container {
    height: 260px;
    width: 95%;
    margin: auto;
    margin-top: 5px;
}

//select

.select-container {
    margin-top: 6px;
    border: 1px solid #D8D3D1;
    border-radius: 4px;

    width: 97%;
    padding: 3px 0px;
    padding-right: 6px;
    //background-color: #6446ea;
}

.select {
    border: none;
    margin: 3px;
    font-size: 12px;
    background: none;
    color: white;
    width: 100%;

}

.narrow-select {
    width: 30%;
    margin: auto;
}

//food

.food-stuff {
	float: right;
	width: 40%;
}

.food-total {
	float: left;
	width: 55%;
}



//bodyweight

.new-weight {
	float: right;
	width: 40%;
	height: 200px;
}

.bodyweight-graph {
	float: left;
	width: 55%;
}

.bodyweight-chart-container {
    height: 280px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

//food

.calories-total {
	display: inline-block;
	float: left;
	width: 40%;
	margin-left: 2.5%
}

.progress-bars {
	display: inline-block;
	float: right;
	width: 50%;
	margin: auto;
}

.food-total-prompt {
	margin-top: 8px;
	font-weight: 200;
	padding: 8px;
}


.food-form {
	text-align: center;
}

.food-search {
	padding: 10px 10px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid white;
	background: none;
	color: white;
	font-size: 16px;
	text-align: left;
	font-weight: 200;
	width: 90%;

}

.food-history {
	height: 250px;
	width: 100%;
	overflow-y: scroll;
}

.food-history-item {
	font-weight: 200;
	padding: 5px;
}

.food-search-item {
	font-weight: 200;
	padding: 5px;
}

.food-search-item:hover {
	background-color: #DCDCDC;
}

.food-modal {
	width: 37%;
	background-color: #3B3C4E;
	position: absolute;
	border-radius: 4px;
	// box-shadow: 0 0 0 1px rgba(50,50,93,.1),
    //             0 2px 5px 0 rgba(50,50,93,.08),
    //             0 1px 1.5px 0 rgba(0,0,0,.07),
    //             0 1px 2px 0 rgba(0,0,0,.08);
	border: 1px solid #DCDCDC;
	z-index: 5;
	height: content;
	max-height: 250px;
	overflow-y: scroll;
}

.modal {
	position: absolute;
	width: 50%;
	top: 50%;
  	left: 25%;
	display: none;
	background-color: #3B3C4E;
	z-index: 10;
	box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
	border-radius: 4px
}

.modal-is-active {
	display: block;
}



.food-total-value {
    line-height: 30px;
    margin-left: 10px;
    font-weight: 200;
    font-size: 14px;
}

.food-total-bar {
    height: 30px;
    width: 85%;
    background-color: #EEEEF2;
    border-radius: 7px;
    float: left;
    box-shadow: 0 0 0 1px rgba(50,50,93,.1),
                0 2px 5px 0 rgba(50,50,93,.08),
                0 1px 1.5px 0 rgba(0,0,0,.07),
                0 1px 2px 0 rgba(0,0,0,.08);
                margin-right: 8px;
}

.food-total-progress {
    background-color: red;
    height: 30px;
    float: left;
    position: absolute;
    z-index: 3;
    box-shadow: 0 0 0 1px rgba(50,50,93,.1),
                0 2px 5px 0 rgba(50,50,93,.08),
                0 1px 1.5px 0 rgba(0,0,0,.07),
                0 1px 2px 0 rgba(0,0,0,.08);
}

.food-total-goal {
    font-weight: 200;
	font-size: 14px;
    line-height: 30px;
    left: 5px;
}

.food-history-none {
    font-weight: 200;
    font-size: 22px;
    padding: 10px;
    text-align: center;
}

.food-goal-input {
    width: 30px;
    font-weight: 200;
	padding: 2px 2px;
    text-align: center;
    width: 50px;
    color: white;
	font-size: 14px;
    background-color: #3B3C4E;
    border: none;
    border-bottom: 1px solid #DCDCDC;
}

.food-total-field {
    margin-top: 15px;
}

.item-odd {
    background-color: #424355;
}

//table
.table-container {
	height: 290px;
	overflow-y: scroll;
	width: 100%;
}

.table {
	width: 100%;
}

.table-row {

}

.table-item {
	text-align: center;
}

.delete-button {
	background: none;
	color: rgb(249,87,102);
	border: none;
	font-size: 16px;
	margin: auto;
	cursor: pointer;
	border-radius: 4px;
}

.delete-button:hover {
	background-color: #292C3D;
}
